@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
}
.container {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(181, 181, 181, 0.745);
    h1 {
      letter-spacing: 2px;
      padding-bottom: 10px;
      color: rgb(143, 0, 93);
    }
    ul {
      display: flex;
      li {
        padding: 0 20px;
        text-decoration: none;
        list-style: none;
        cursor: pointer;
        a {
          text-decoration: none;
        }
      }
    }
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    input {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 347px;
      height: 30px;
      border: 1px solid rgba(128, 128, 128, 0.614);
    }
    textarea {
      margin: 15px 0;
      border: 1px solid rgba(128, 128, 128, 0.614);
    }
    button {
      padding: 7px 20px;
      border-radius: 5px;
      border: none;
      background-color: rgb(143, 0, 93);
      color: #fff;
      cursor: pointer;
    }
    #authors {
      margin-top: 15px;
      width: 347px;
      height: 35px;
      border: 1px solid rgba(128, 128, 128, 0.614);
    }
  }
}
